body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}
table {
    width: 40%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}
thead {
    background-color: #007BFF;
    color: white;
}
th{
    text-align: center;
    padding: 12px;
}
td {
    padding: 7px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
tbody tr:hover {
    background-color: #e3f2fd;
}
th:last-child, td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
th:first-child, td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}