<div class="filtro-container">
    <label for="paisSelect">País: </label>
    <select id="paisSelect" (change)="alCambiarOpcion($any($event.target).value)">
        <option value="todos">Todos</option>
        <option *ngFor="let pais of paises" [value]="pais.nomPais">{{ pais.nomPais }}</option>
    </select>
</div>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Fecha de Nacimiento</th>
            <th>Sexo</th>
            <th>Pais</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let alumno of alumnos">
            <tr *ngIf="opcionSeleccionada=='todos' || opcionSeleccionada==getNombrePais(alumno.paisID)">
                <td>{{ alumno.nombre | uppercase | alumnoTitulo:alumno.sexo}}</td>
                <td>{{ alumno.foto}}</td>
                <td>{{ alumno.fnac | date: 'dd/MM/yyyy' }}</td>
                <td>{{ alumno.sexo }}</td>
                <td>{{ getNombrePais(alumno.paisID) }}</td>
                <td><app-boton 
                    iconClasses="fa-solid fa-edit" 
                    buttonClasses="btn-warning" 
                    [routerLink]="['/alumno-insertar', alumno.id]">Editar
                </app-boton></td>
                <td><app-boton 
                    iconClasses="fa-solid fa-trash" 
                    buttonClasses="btn-danger" 
                    (click)="eliminarAlumno(alumno.id)">Eliminar
                </app-boton></td>
            </tr>
        </ng-container>
        <tr *ngIf="!alumnos || alumnos.length == 0">
            <td colspan="7" align="center">No hay alumnos disponibles</td>
        </tr>
    </tbody>
</table>