table{
    width: 60%;
    margin: auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}
thead{
    background-color: #0077ff;
    color: white;
}
th{
    text-align: center;
    padding: 12px;
}
td{
    padding: 7px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tbody tr:nth-child(even){
    background-color: #f9f9f9
}