<app-alumnos-count [todos]="getTodos()" [hombres]="getHombres()" [mujeres]="getMujeres()" (globalElegido)="alCambiarOpcion($event)">
</app-alumnos-count>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Fecha de Nacimiento</th>
            <th>Sexo</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let alumno of alumnos">
            <tr *ngIf="opcionSeleccionada=='todos' || opcionSeleccionada==alumno.sexo ">
                <td>{{ alumno.nombre | uppercase | alumnoTitulo:alumno.sexo}}</td>
                <td>{{ alumno.foto}}</td>
                <td>{{ alumno.fnac | date: 'dd/MM/yyyy' }}</td>
                <td>{{ alumno.sexo }}</td>
                <td><app-boton 
                    iconClasses="fa-solid fa-edit" 
                    buttonClasses="btn-warning" 
                    [routerLink]="['/alumno-insertar', alumno.id]">Editar
                </app-boton></td>
                <td><app-boton 
                    iconClasses="fa-solid fa-trash" 
                    buttonClasses="btn-danger" 
                    (click)="eliminarAlumno(alumno.id)">Eliminar
                </app-boton></td>
            </tr>
            <tr *ngIf="!alumnos || alumnos.length == 0">
                <td colspan="4" align="center">No hay alumnos disponibles</td>
            </tr>
        </ng-container>
    </tbody>
</table>